/* Put css styles for the contact view here */
.contact-icon {
    display: inline-block;
}
.contact-info {
    display: inline-block;
}
.contact-FirstName {
    font-weight: bold;
}
.contact-LastName {
    font-weight: normal;
}