<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AzureApplicationServices" connectionString="User ID=test;Password=Bl1zzard;Pooling=false;Data Source=p9xk0kw2sl.database.windows.net;Initial Catalog=TestDB" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
