<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="AzureApplicationServices" connectionString="User ID=test;Password=Bl1zzard;Pooling=false;Data Source=ivi7r1aaz8.database.windows.net;Initial Catalog=TestDB" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
        <identity impersonate="false" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding maxReceivedMessageSize="2147483646">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="5242880"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="ClientServer_Wcf_StandartAuth.Server.CustomWcfSecuredDataServer" behaviorConfiguration="metadataAndDebug">
        <endpoint address="" binding="wsHttpBinding" contract="DevExpress.ExpressApp.Security.ClientServer.Wcf.IWcfSecuredDataServer" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataAndDebug">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>